body{
    margin: 0;
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
}

hr{
    margin: 0;
    background-color: #ff6666;
    height: 1px;
    border: none;
}

img{
    object-fit: cover;
}

.roundedCorners{
    border-radius: 10px;
}

.order{
    width: 100%;
    height: 2rem;
    padding: 1rem 0 0 1rem;
    background-color: red;
    font-size: small;
    color: white;
}

.navbar{
    width: 100%;
    height: 7rem;
    background-color: red;
}

.navbarContainer{
    display: flex;
    justify-content: center;
    align-content: center;   
}

.logoContainer, .navItemsContainer{
    display: inline-block;
}

.logoContainer{
    position: absolute;
    left: 5rem;
    padding: 1rem;
    margin-top: 0.5rem;
}

.navItems{
    display: inline-block;
    padding: 1rem;
    margin-top: 2rem;
}

#home, #products, #about, #contact{
    padding: 0 1rem 0 1rem;
    text-decoration: none;
    color: white;
}

#home:hover, #products:hover, #about:hover, #contact:hover{
    color: #ffb3b3;
}

.heroContent{
    width: 100%;
    height: 40rem;
    background-color: blue;
}

.introContainer, .categoriesContainer, .best, .offers{
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center; 
}

.spacing{
    padding: 0 0 10rem 0;
}

.intro{
    width: 50rem;
    height: 40rem;
    line-height: 2rem;
    margin-top: 7rem;
}

.redHeading{
    color: #ff6666;
}

.thin{
    font-weight: lighter;
    font-size: 5rem;
}

.bold{
    font-family: 'Montserrat', sans-serif;
    font-size: 5rem;
}

.shopNow{
    margin-top: 3rem;
}

.catItem, .buyItem, .offerItemContainer{
    padding: 0 2rem 0 2rem;
}

.decoration{
    width: 100%;
    height: 46rem;
    background-color: yellow;
}

.decText{
    position: absolute;
    left: 10rem;
    width: 50rem;
    font-weight: lighter;
    margin-top: 10rem;
}

.decBtn{
    position: absolute;
    left: 10rem;
    margin-top: 20rem;
}

.btn{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 2rem;
}

.offerItem{
    width: 25rem;
    height: 15rem;
    background-color: green;
    overflow: hidden;
}

.offers{
    margin-top: 10rem;
}

.footer{
    width: 100%;
    height: 20rem;
    background-color: grey;
    margin-top: 10rem;
}